<div class="header">
  <div>Extra Charges: {{ total_fees | currency:'INR' }}</div>
  <div>Total Profit: {{ net_profit | currency:'INR' }}</div>
  <div>Stocks Owned: {{ total_stocks }}</div>
</div>
<div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Stamp Duty</th> <!-- Stamp duty-->
				<th scope="col">SEBI Turnover</th> <!-- SEBI Turnover -->
				<th scope="col">Securities Transaction</th> <!-- Securities Transaction -->
				<th scope="col">IGST @ 18%</th> <!-- IGST @ 18% -->
				<th scope="col">Exchange transaction charges</th> <!-- Exchange transaction charges -->
				<th scope="col">Brokerage</th> <!-- Brokerage -->
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ stamp_duty | currency:'INR' }}</td>
				<td>{{ sebi_turnover | currency:'INR' }}</td>
				<td>{{ stt | currency:'INR' }}</td>
				<td>{{ igst | currency:'INR' }}</td>
				<td>{{ exchange | currency:'INR' }}</td>
				<td>{{ brokerage_fees | currency:'INR' }}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Table of trades-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Type</th>
      <th scope="col">Qty.</th>
      <th scope="col">Price</th>
      <th scope="col">Trade Value</th>
      <th scope="col">Cost per trade</th>
      <th scope="col">Net profit after trade</th>
      <th scope="col">Shadow / Remove the trade</th>
    </tr>
  </thead>
  <tbody class="table-responsive">
    <tr *ngFor="let trade of trades.slice().reverse(); let i = index">
      <th scope="row">{{ trade.id }}</th>
      <td>{{ trade.types }}</td>
      <td>{{ trade.qty }}</td>
      <td>{{ trade.price | currency:'INR' }}</td>
      <td>{{ trade.qty*trade.price | currency:'INR' }}</td>
      <td>{{ trade.cost_per_trade | currency:'INR' }}</td>
      <td>{{ trade.net_profit | currency: 'INR' }}</td>
      <td>
      	<span *ngIf="trade.shadow == false;then content_ else other_content_"></span>
		<ng-template #content_>
			<img (click)="shadowTrade(trade.id)" src="assets/cancel.png" height="20px" width="20px" style="margin-right: 10px;">
		</ng-template>
		<ng-template #other_content_>
			<img (click)="shadowTrade(trade.id)" src="assets/correct.png" height="20px" width="20px" style="margin-right: 10px;background-color: brown;">
		</ng-template>
      	<img (click)="deleteTrade(trade.id)" height="20px" width="20px" src="assets/delete.png">
      </td>
    </tr>
  </tbody>
</table>

<div class="clear"></div>
<!-- Register the trade or Get the estimate for preferred trade -->
<div class="footer">
	<div [hidden]="submitted" class="formbox">
		<form (ngSubmit)="onSubmit(tradeForm)" #tradeForm="ngForm" class="form-inline">
			<div class="form-group">
				<input type="number" class="form-control" id="qty"
						required
						[(ngModel)]="model.qty" name="qty"
						#qty="ngModel">
				<div [hidden]="qty.valid || qty.pristine" class="alert alert-danger">
					Quantity is required.
				</div>
			</div>

			<div class="form-group">
				<input type="number" class="form-control" id="price"
						required
						[(ngModel)]="model.price" name="price"
						#price="ngModel">
				<div [hidden]="price.valid || price.pristine" class="alert alert-danger">
					Price is required.
				</div>
			</div>

			<div class="form-group">
				<select class="form-control" id="types" 
						required
						[(ngModel)]="model.types" name="types"
						#types="ngModel">
					<option *ngFor="let _type of _types" [value]="_type">{{ _type }}</option>
				</select>
			</div>
			
			<button type="submit" class="btn btn-success" [disabled]="!tradeForm.form.valid">Submit</button>
			
		</form>
	</div>
</div>

<div class="notes">
	<h4>Estimate:</h4>
	<span *ngIf="model.types === 'SELL';then content else other_content"></span>
	<ng-template #content>
	<div>Extra Charges: <span class="money">{{ getExtraCharges() | currency:'INR' }}</span></div>
	<div>Total Profit: <span class="money">{{ getTotalProfit() | currency:'INR' }}</span></div>
	<div>Stocks Owned: <span class="money">{{ total_stocks-model.qty }}</span></div>
	</ng-template>
	<ng-template #other_content>
	<div>Extra Charges: <span class="money">{{ getExtraCharges() | currency:'INR' }}</span></div>
	<div>Total Profit: <span class="money">{{ getTotalProfit() | currency:'INR' }}</span></div>
	<div>Stocks Owned: <span class="money">{{ total_stocks+model.qty }}</span></div>
	</ng-template>
</div>
